Package: com.exoticswingset.truthfulwifidisable
Name: TruthfulWifiDisable
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ExoticSwingset
Author: ExoticSwingset
Section: Tweaks
